{% extends 'base.html' %}
{% load staticfiles %}


{% block title_block %}
    Welcome to Login
{% endblock %}

{% block body_block %}
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-7">
                    <div class="panel panel-default login-box">
                        <div class="panel-heading">
                            <h3>Login</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" method="POST" action="{% url 'account_login' %}">
                                {% csrf_token %}
                                <div class="form-group form-group-lg">
                                    <label for="inputEmail3" class="col-md-offset-1 col-sm-2 control-label">Account</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control " name="login" placeholder="input account here">
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    <label class="col-md-offset-1 col-sm-2 control-label">Password</label>
                                    <div class="col-sm-8">
                                        <input type="password" name="password" class="form-control" placeholder="input password here">
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    <div class="col-sm-offset-3 col-sm-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="remember"> remeber me
                                            </label>
                                            <label>
                                                <a href="{% url 'account_reset_password' %}">foget password?</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-7 col-sm-offset-5">
                                        <button type="submit" class="btn btn-lg btn-default">login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <a class="col-sm-offset-2" href="{% url 'commonly:index' %}">Go Back</a>
<script src="{% static 'js/jquery/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap/js/bootstrap.js' %}"></script>

{% endblock %}