{% load static %}
<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'js/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<html lang="en">

    <head>
    <meta charset="UTF-8">
        <title>Forum NullPointer --
            {% block title_block %}
                default sub title
            {% endblock %}
        </title>
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'cuser:detail_profile' %}" title="search user profile">
                            User：{% firstof request.user.username %}</a>
                        </li>
                        <li><a href="" data-toggle="modal" data-target="#chuangjianzhuanti">CreateTheme</a>
                        </li>
                        <li><a href="{% url 'theme:article_publish' %}">Publish</a></li>
                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}">Login</a></li>
                        <li><a href="{% url 'account_signup' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>


        <div>
            {% block body_block %}
            Default content of block
            {% endblock %}
        </div>

    </body>
</html>