{% extends 'base.html' %}
{% load staticfiles %}


{% block title_block %}
    index page
{% endblock %}



{% block body_block %}



    <div class="container">
    <div class="row">

    <div class="panel panel-default content_list col-md-8" style="margin-left: 15px;">
                <div class="panel-body">
                    {% for single_article in all_article %}
                    <div class="media article" >
                        <div class="media-body">
                            <h4 class="media-heading"><a href="{% url 'comment:article_detail' single_article.article_id %}">{{single_article.article_title}}</a></h4>
                            <p>{{single_article.article_content|truncatechars:300}}...</p>
                            <div>
                                <span><a href="{% url 'theme:author_articles' single_article.article_author.id %}">User: {{single_article.article_author.username}}</a></span>
                            </div>
                            <div>
                                <span><a href="{% url 'comment:article_detail' single_article.article_id %}">Comment: {{single_article.count_all_commented}}</a></span> 
                                <span><a href="{% url 'commonly:article_like' single_article.article_id %}">like: {{single_article.count_all_liked}}</a></span>
                            </div>
                        </div>
                    <hr/>
                    </div>
                    {% endfor %}  
        </div>
    </div>
   
    <div class="panel panel-group panel-default col-md-3" id="hot_theme" style="margin-top: 8px;margin-left: 50px;">
        <div class="panel-heading">
            <h3>Themes</h3>
        </div>
        <ul class="list-group">
            {% for single_themes in all_themes %}
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/media/{{ single_themes.at_cover }}"
                                 alt="..." style="height: 30px;width: 30px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><a href="{% url 'theme:theme_details' single_themes.at_id %}">{{single_themes.at_name}}</a></h3>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    
</div>

</div>
{#    chaungjianzhuanti#}
<div id="chuangjianzhuanti" class="modal fade bs-subject-modal-sm" aria-labelledby="theme">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Theme</h4>
            </div>
            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'theme:article_theme_add' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="s_name" class="col-sm-3 control-label">Theme Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="at_name" id="s_name" placeholder="Theme Name">
                        </div>
                    </div>
                    <input type="hidden" name="at_author" value="{{ request.user.id}}">
                    <div class="form-group">
                        <label for="as_cover" class="col-sm-3 control-label">Theme cover</label>
                        <div class="col-sm-6">
                            <input type="file" name="at_cover" id="as_cover" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <script src="{% static 'js/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap/js/bootstrap.js' %}"></script>

{% endblock %}