{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Detail Article Page of {{ article_object.article_title }}
{% endblock %}

{% block body_block %}
    <h3>This is the detail page of {{ article_object.article_title }}</h3>
    <div>
        <p>{{ article_object.article_content }}</p>
    </div>

    <div>
        <h4>Comments:</h4>
        <br>
{#        #}
{#        {% for comment in article_object.article_comment %}#}
{#            <li>#}
{#                <p>{{ comment }}</p>#}
{#            </li>#}
    </div>
    <div>
        <span><a href="">Add a Comment</a></span>
        <span><a href="">Like</a></span>
    </div>
{% endblock %}