<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'js/bootstrap/css/bootstrap.css' %}">
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Article Page</title>
</head>
<body>
    <h3>This is the detail page of {{ article_object.article_title }}</h3>
    <div>
        <p>{{ article_object.article_content }}</p>
    </div>

    <div>
        <h4>Comments:</h4>
        <br>
{#        #}
{#        {% for comment in article_object.article_comment %}#}
{#            <li>#}
{#                <p>{{ comment }}</p>#}
{#            </li>#}
    </div>
    <div>
        <span><a href="">Add a Comment</a></span>
        <span><a href="">Like</a></span>
    </div>
</body>
</html>